<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Task details</h3>
        </div>
        <div class="modal-body">
            <p><b>Category:</b> {{selectedTodo.category}}</p>
            <p><b>Title:</b> {{selectedTodo.title}}</p>
            <p><b>Priority:</b> {{selectedTodo.priority}}</p>
            <p><b>Content:</b> {{selectedTodo.content}}</p>
            <p data-ng-show="list"><b>Date:</b> {{selectedTodo.date | date:'EEEE, d MMM yyyy'}} </p>
            <p data-ng-show="list"><b>Status:</b> {{selectedTodo.status}} </p>
            <p data-ng-show="calendar"><b>Status:</b><select class="form-control" data-ng-model="selectedTodo.status" data-ng-options="s for s in statuses"></select></p>
        </div>
        <div class="modal-footer ">
            <button class="btn btn-primary" data-ng-click="ok()">OK</button>
            <button data-ng-show="list" class="btn btn-primary" data-ng-click="edit()">Edit</button>
            <button data-ng-show="calendar" class="btn btn-primary" data-ng-click="editStatus()">Edit status</button>
        </div>
    </div>
</body>

</html>