<!DOCTYPE html>
<html>

<body>
    <section>
        <h2>The list of tasks</h2>
        <form name="data.form">
            <div class="form-group">
                <input name="searchInput" class="form-control" data-ng-model="search[filter]" placeholder="Filter your tasks by title" />
                <p></p>
                <button class="btn btn-primary" data-ng-click="orderByCreationTime()"> Sort by last added </button>
            </div>
        </form>
        <div>
            <table class="table table-hover">
                <thead>
                    <th>Task category</th>
                    <th>Task title</th>
                </thead>
                <tbody>
                    <tr data-ng-click="view(todo.id)" data-ng-repeat="todo in filteredTodos|filter:search">
                        <td>{{todo.category}}</td>
                        <td data-ng-bind="todo.title" />
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-info btn-block" data-ng-click="add()"> Add todo </button>
            </div>
            <div class="text-center">
                <pagination data-ng-model="currentPage" total-items="totalItems" items-per-page="numPerPage" max-size="noOfPages" boundary-links="false">
                </pagination>
            </div>
        </div>
    </section>
</body>

</html>

<!--
    <div ng-app="moduleName"></div> podlaczenie modulu do widoku
-->