<h2></h2>
<div id="calendar" ui-calendar="uiConfig.calendar" data-ng-model="eventSources" calendar="myCalendar"></div>

<!--<div class="row">
    <button class="btn-default btn-lg" data-ng-click="test()"></button>
</div>

<div class="row">
    <div data-ng-show="selectedEvent" class="container">
        <h4> Your task </h4>
        <p><b>Title: </b>{{selectedEvent.title}}</p>
        <p><b>Category: </b>{{selectedEvent.category}}</p>
        <p><b>Description: </b>{{selectedEvent.content}}</p>
        <p><b>Priority: </b>{{selectedEvent.priority}}</p>
        <p><b>Status: </b>{{selectedEvent.status}}</p>
    </div>
</div>-->